* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.hero-container {
   color: white;
   background-color:  #1f2397;
   padding: 50px 0px;
   display: flex;
   justify-content: center;
}

.hero {
   display: flex;
   justify-content: space-between;
   width: 1200px;
   border: 1px solid white;  
}

.right-links   {
   display: flex;
   justify-content: flex-end;
}

a {
   text-decoration: none;
   color: white;
}

 .link-three {
   margin-left: 20px;
 }