* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
   font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;
}

.header-container {
  background-color: #1F2937;
  display: flex;
  flex-wrap: wrap;
  padding: 15px 250px;
  color: #e5e7eb;
   align-items: center;
   justify-content: space-between;
}

.logo {
   font-size: 24px;
   color: #f9faf8;
}

.navbar {
   display: flex;
   gap: 12px;
   
}

ul {
   display: flex;
   list-style-type: none;
}

a {
   color: #e5e7eb;
   font-size: 18px;
   text-decoration: none;
   
}

  .hero-container {
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: #1F2937;
   color: #e5e7eb;
   padding: 70px 250px;
   
  }

  .button {
   border-radius: 9px;
   padding: 10px 25px;
   background-color: #3882f6;
   color: #e5e7eb;
   font-weight: 900;
   margin-top: 9px;
  }

  .info-header {
   text-align: center;
   font-size: 36px;
   color: #1F2937;
   font-weight: 900;
  }
  
  .cards {
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 50px 250px;
  }

  .card-wrapper {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 75px;
   flex-wrap: wrap;
  }

  .box {
   display: flex;
   padding: 70px;
   border: 2px solid #3882f6;
   border-radius: 10px;
   flex: 1;
  }

  .info-text {
   display: flex;
   justify-content: center;
   align-items: center;
  }

  .quote-section {
   display: flex;
  }

  .qoute {
   padding: 70px  250px;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #e5e7eb;
   font-weight: 36px;
   font-style: italic;
    color: #1F2937;
  }

  .quote-sentence {
   display: flex;
   justify-content: flex-end;
   font-weight: 800;
  }

  .call-container {
   display: flex;
   justify-content: center;
   align-items: center;
   flex: 1;
 }
  
 .call-wrapper {
   width: 1000px;
   border-radius: 10px;
   display: flex;
   justify-content: space-between;
   background-color: #3882f6;
   padding: 9px 70px;
   color: #e5e7eb;
   margin-top: 20px;
   flex: 1;

 }

 .Two {
   border-color: #e5e7eb;
 }
  
  .footer {
   background-color: #1F2937;
   display: flex;
   justify-content: center;
   align-items: center;
   color: #e5e7eb;
   margin-top: 40px;
   flex: 1;
  }

  .footer-container {
   padding: 15px 250px;
  }



  .call-section {
   
  }