* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
   Roboto
}

.header-container {
  background-color: #1F2937;
  display: flex;
  flex-wrap: wrap;
  padding: 15px 250px;
  color: #e5e7eb;
   align-items: center;
   justify-content: space-between;
}

.logo {
   font-size: 24px;
   color: #f9faf8;
}

.navbar {
   display: flex;
   gap: 12px;
   
}

ul {
   display: flex;
   list-style-type: none;
}

a {
   color: #e5e7eb;
   font-size: 18px;
   text-decoration: none;
   
}
