* {
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

/* /// Header Selectors /// */

.header-container {
    display:flex;
    justify-content: center;
    padding: 15px 200px;
    background-color: #1F2937;
}

.header-box {
    display: flex;
    flex-shrink: 0;
    width: 100%;
    padding: 15px 200px;
    justify-content: space-between;
    align-items: center;

}

.header {
    font-size: 16px;
    color: #F9FAF8;
}

.header-links {
    display: flex;
    font-size: 12px;
    color: #E5E7EB;
    gap: 20px;
    flex-shrink: 0;
}

/* /// Title Selectors /// */

.title-container {
    display:flex;
    justify-content: center;
    padding: 50px 200px;
    background-color: #1F2937;
}

.title-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding:10px;
    gap: 8px;
}

.title-button {
    width: 120px;
    height: 30px;
    border-radius: 5px;
    border: none;
    background-color: #3882F6;
    font-weight: 700;
}

.image {
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    width: 600px;
    height: 250px;
    background-color: gray;
}

/* /// Info Selectors /// */

.info-container {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px 200px;
    gap: 30px;
    text-wrap: none;
}

.info-text {
    padding: 10px;
    flex-shrink: 0;
}

.info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.info-img {
    display: flex;
    align-items: center;
    padding-bottom: 75px;
    gap: 25px;
}

.info-img-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 150px;
    text-align: center;
}

.info-img-box {
    display: flex;
    flex-direction: column;
    width: 100px;
    height: 100px;
    border: 2px solid #3882F6;
    border-radius: 15px;
    gap: 5px;
    font-size: 18px;
    color: #1F2937;
}


/* /// Quote Selectors /// */

.quote-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px 200px;
    gap: 30px;
    background-color: #E5E7EB;
}

.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 100px;
}

.quote-attribute {
    text-align: right;
    padding-right: 40px;
}

/* /// Call to Action Selectors /// */

.cto-container {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    padding: 75px 200px;
}

.cto {
    display: flex;
    flex-shrink: 0;
    flex: 1 1 auto;
    justify-content: space-evenly;
    align-items: center;
    height: 150px;
    background-color: #3882F6;
    border-radius: 10px;
    padding: 15px;
}

.cto-button {
    width: 120px;
    height: 30px;
    flex-shrink: 0;
    border-radius: 5px;
    border: 2px solid white;
    background-color: #3882F6;
    font-weight: 700;
    color: white;
}

/* /// Footer Selectors /// */

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 200px;
    color: #E5E7EB;
    font-size: 18px;
    background-color: #1F2937;
}

/* /// Font Selectors /// */

.hero-main {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.hero-secondary {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-logo {
    font-size: 24px;
    color: #F9FAF8;
}

.info-heading-text {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.quote-text {
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
}