* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
   font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;
   
}

.header-container {
  /*  
  display: flex;
    justify-content: space-between;
     padding: 15px 100px;
     flex: auto;
    padding: 15px 100px;
    color: #e5e7eb;
    background-color: #1F2937;
    flex-wrap: nowrap;  */

}  

.header-wrapper {
  display: flex;
  /* justify-content: space-between; */
  padding: 15px 100px;
  background-color: #1F2937;
  border-bottom: 1px solid gray;

}



.logo {
   font-size: 24px;
   color: #f9faf8;
   /* width: 10x; */
   margin-right: auto;
  
}

.navbar {
  display: flex;
  justify-content: end;
  font-size: 18px;
  flex-shrink: 0;
   gap: 15px; 
   
}


.hero-container {
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-wrap: nowrap;
   background-color: #1F2937;
   color: #e5e7eb;
   padding: 80px 100px;
   margin-bottom: 30px;
   
  }

.hero-text {
   text-wrap: wrap;
   flex-shrink: 0;
  }

  .hero-box {
    padding: 30px 60px;
    background-color: darkgrey;
    height: 250px;
    width: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    
  }

  .info {
   /* width: auto; */
  }

  .info-header {
   text-align: center;
   font-size: 36px;
   color: #1F2937;
   font-weight: 900;
   margin-bottom: 20px;
   flex: 1;
  }

 .card-wrapper {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 75px;
   flex-wrap: wrap;
   flex: 1;
  }
  

.box {
   display: flex;
   width: 150px;
   height: 150px;
   border: 2px solid #3882f6;
   border-radius: 10px;
   flex: 1, 2, auto;
  }


.info-text {
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 25px ;
   margin-top: 20px;
  }


  .quote-section {
   flex: 1;
   background-color:  #E5E7EB;
   margin-top: 50px;
   margin-bottom: 50px;
   padding: 100px 200px;
  }


.quote-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  font-style: italic;
  color: #1F2937;
 gap: 30px;
  }


.quote-para{
  margin-top: 50px;
  max-width: 800px;
  flex-wrap: wrap;
}

   .quote{
   display: flex;
   align-items: end;
   justify-content: flex-end;
   font-weight: 800;
   padding-right: 150px;
  }
 
 
.call-container {

  display: flex;
/* flex-direction: column; */
   flex: auto;
   justify-content: center;
   align-items: stretch;
   padding: 75px 200px;
} 

.call-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* height: 100px;
  padding: 15px; */
  padding: 40px 100px;
  
  border-radius: 10px;
  background-color: #3882f6;
   color: #e5e7eb;
 }

 .call {
  display: flex;
  flex-direction: column;
  padding-right: 20px;
 }
 .text {
  display: flex;
  
 }


   .footer-wrapper {
   display: flex;
   justify-content: center;
   align-items: center;
   flex: 1;
   height: 50px; 
  padding: 25px, 200px;
  font-size: 18px;
  margin-top: 50px;
    color: #e5e7eb;
    background-color: #1F2937;
  } 
 

  

ul {
   display: flex;
   list-style-type: none;
}

a {
   color: #e5e7eb;
   font-size: 18px;
   text-decoration: none;
   
}

.button {
   border-radius: 9px;
   padding: 10px 25px;
   background-color: #3882f6;
   color: #e5e7eb;
   font-weight: 900;
   margin-top: 9px;
   cursor: pointer;
  }

 .Two {
   border-color: #e5e7eb;
 }
