* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.hero-container {
   color: white;
   background-color:  #1f2397;
   padding: 50px 0px;
   display: flex;
   justify-content: center;
}

.hero {
   display: flex;
   justify-content: space-between;
   width: 1200px;
}

.right-links   {
   display: flex;
   justify-content: flex-end;
   gap: 20px;
   font-weight: lighter;
}

a {
   text-decoration: none;
   color: white;
}

 .link-three {
   margin-left: 20px;
 }

 .header-container {
   display: flex;
   justify-content: center;
   background-color: #1f2397;
   color: white;
   padding: 0 0 50px 0;
 }

 .main-header {
   display: flex;
   justify-content: space-between;
   width: 1200px;
 }

 .header {
   width: 410px;
 }
 .line-break {
   display: block;
 }


 button {
   background-color: #3882F6;
   padding: 2px 10px;
   color: white;
 }