* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
   font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;
   
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    padding: 15px 100px;
    width: auto;
    color: #e5e7eb;
    background-color: #1F2937;

}

.logo {
   font-size: 24px;
   color: #f9faf8;
   width: 10x;
   flex-grow: 1;
   flex-shrink: 0;
   flex-basis: auto;
}

.navbar {
   gap: 15px; 
   flex-shrink: 0;
}


.hero-container {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: auto;
   background-color: #1F2937;
   color: #e5e7eb;
   padding: 70px 100px;
   margin-bottom: 30px;
   
  }

.hero-text {
   flex-wrap: wrap;
   flex: 1;
  }

  .info {
   width: auto;
  }

  .info-header {
   text-align: center;
   font-size: 36px;
   color: #1F2937;
   font-weight: 900;
   margin-bottom: 20px;
   flex: 1;
  }

 .card-wrapper {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 75px;
   flex-wrap: wrap;
   flex: 1;
  }
  

.box {
   display: flex;
   width: 150px;
   height: 150px;
   border: 2px solid #3882f6;
   border-radius: 10px;
   flex: auto;
  }


.info-text {
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 25px ;
   margin-top: 20px;
  }


  .quote-section {
   width: auto;
   height: 200px;
   flex: 1;
   background-color:  #E5E7EB;
   margin-top: 50px;
  }


.quote-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 gap: 30px;
  }


.quote-para{
  margin-top: 50px;
  max-width: 800px;
  flex-wrap: wrap;
}

   .quote{
   margin-left: 600px;
   font-weight: 800;
  }

 
 .call-wrapper {
   width: 1000px;
   border-radius: 10px;
   display: flex;
   justify-content: space-between;
   background-color: #3882f6;
   padding: 9px 70px;
   color: #e5e7eb;
   margin-top: 50px;
   margin-left: 300px;
   flex: 1;

 }


  .footer {
   background-color: #1F2937;
   display: flex;
   justify-content: center;
   align-items: center;
   color: #e5e7eb;
   margin-top: 40px;
   flex: 1;
  }


  .footer-content {
    text-align: center;
   padding: 30px 250px;
   flex: 1;
  }


ul {
   display: flex;
   list-style-type: none;
}

a {
   color: #e5e7eb;
   font-size: 18px;
   text-decoration: none;
   
}

.button {
   border-radius: 9px;
   padding: 10px 25px;
   background-color: #3882f6;
   color: #e5e7eb;
   font-weight: 900;
   margin-top: 9px;
   cursor: pointer;
  }

 .Two {
   border-color: #e5e7eb;
 }
